.cart-article {
  background-color: var(--fourth-bg);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.cart-container {
  margin: 0 auto;
  width: 80%;
}

.cart-p {
  font-size: 1.5rem;
  text-align: right;
}

.progress {
  text-align: right;
  padding: 1rem;
}
